html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.header-main {
	background-color: #444444;
	height: 20%;
	width: 100%;
}

.left-box {
	background-color: #D8D8D8;
	width: 20%;
	height: 100%;
	float: left;
}

.right-box {
	background-color: #D8D8D8;
	width: 20%;
	height: 100%;
	float: right;
}

.footer-main {
	background-color: #222222;
	height: 10%;
	width: 100%;
	margin: 0 auto;
}

.container {
	width: 100%;
	height: 80%;
}

.middle {
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

.white-space {
	height: 90%;
	width: 100%;
}